<style>
.borderedtext {
  border-style:solid;
  border-width: thin;
  height: 25;
  width: 180;
  padding: 1;
}
</style>

<h1>
  Welcome to Gamechanger!
</h1>

<form action="/getgamedata">
  <table>
    <thead>
      <tr>
        <th style="text-align:left">Matchurl:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" id="game_url" name="game_url" size="50" /></td>
      </tr>
      <tr>
        <td><input type="submit" value="Hämta matchdata"></td>
      </tr>
    </tobdy>
  </table>
</form>

<form> 
<table cellpadding = "2">
  <thead>
    <tr>
      <th style="text-align:left">Matchnummer:</th>
      <th style="text-align:left">Serie:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input name="fixture_number" type="text" value=<%= fixture_number %> size="44"> </td> 
      <td><input name="serie" type="text" value=<%= serie %> size="44" > </td>
    </tr>
  </tbody>
</table>
<table cellpadding = "2">
  <thead>
    <tr>
      <th style="text-align:left">Hemmalag:</td>
      <th style="text-align:left">Bortalag:</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input name="home_team" type="text" value=<%= home_team %> size="44"> </td> 
      <td><input name="away_team" type="text" value=<%= away_team %> size="44"> </td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th style="text-align:left">Datum:</th>
      <th style="text-align:left">Tid:</th>
      <th style="text-align:left">Hall:</th>
    </tr>
  </thead>
  <tbody>
    <td><input name="orig_date" type="date" value=<%= orig_date %> > </td> 
    <td><input name="orig_time" type="time" value=<%= orig_time %> > </td>
    <td><input name="orig_venue" type="text" value=<%= orig_venue %> size="44"> </td>
  </tbody>
</table>

<label for="new_time_false">Vi återkommer med nytt speldatum inom 14 dagar</label>
<input type="radio" name="new_time" id="new_time_false" value="new_time_false" checked><br>
<label for="new_time_true">Vi är överens om ny tid</label>
<input type="radio" name="new_time" id="new_time_true" value="new_time_true"><br>
<table>
  <thead>
    <tr>
      <th style="text-align:left">Datum:</th>
      <th style="text-align:left">Tid:</th>
      <th style="text-align:left">Hall:</th>
    </tr>
  </thead>
  <tbody>
    <td><input name="new_date" type="date" / > </td> 
    <td><input name="new_time" type="time" / > </td>
    <td><input name="new_venue" type="text" value=<%= orig_venue %> size="44"/ > </td>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th style="text-align:left">Ansökande förening:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input name="ansökande_förening" type="text" value="Ekerö IK" size="30" /></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th style="text-align:left">Kontaktperson:</th>
      <th style="text-align:left">Kontaktperson motståndare:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input name="applicant_contact" type="text" value=<%= applicant_contact %> size="30" /></td>
      <td><input name="opponent_contact" type="text" value=<%= opponent_contact %> size="30" /></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th style="text-align:left">Telefon:</th>
      <th style="text-align:left">Telefon:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input name="applicant_phone" type="text" value=<%= applicant_phone %> size="30" /></td>
      <td><input name="opponent_phone" type="text" value=<%= opponent_phone %> size="30" /></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th style="text-align:left">Epost:</th>
      <th style="text-align:left">Epost:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input name="applicant_email" type="text" value=<%= applicant_email %> size="30" /></td>
      <td><input name="opponent_email" type="text" value=<%= opponent_email %> size="30" /></td>
    </tr>
  </tbody>

</table>

<div>
  <button type="submit" value="Submit">Skapa Ändringsblankett</button>
</div>

</form>

